
:root {
  --font-family : "Georgia", sans-serif;
  --vim-red : #c33f42;
  --background-color : #181616;
}

body {
  background-color: var(--background-color);
}


.center-text {
  text-align: center;
}

.center-contents-vertical {
  align-items: center;
}

.center-contents-horizontal {
  justify-content: center;
}

.margin-top {
  margin-top : 2rem;
}

.margin-bottom {
  margin-bottom : 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 900;
  font-size : 32px;
}

p {
  font-size : 18px;
}

a {
  text-decoration: none;
}

.unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-15-large {
  font-family: "Jersey 15", sans-serif;
  font-style: normal;
  font-size: 34px;
}


.pixelify-sans-regular {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title-font {
  font-family: "Proza Libre", serif;
}

.button:hover {
  filter: brightness(110%);
  cursor: pointer;
}